.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .15;

    &__content {
        height: 100%;
        width: 100%;

        // vplni cely container videem a skryje to co presahuje
        object-fit: cover;
    }
}