.popup {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($color-black, .3);
    z-index: 5000;

    opacity: 0;
    visibility: hidden;
    transition: all .5s;
    // backdrop-filter: blur(10px);
    // backdrop-finler kdysi fungoval jen na safari, v takovych pripadech se pouziva toto:
    @supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
    }


    @include respond(phone) {
        text-align: center;
    }


    &__content {
        @include absCenter;
        background-color: $color-grey-light-1;
        box-shadow: 0 2rem 4rem rgba($color-black, .2);
        width: 75%;
        border-radius: 3px;
        display: table;
        overflow: hidden;

        opacity: 0;
        transform: translate(-50%, -50%) scale(0.25);
        backface-visibility: hidden;
        transition: all 0.5s .2s;

        max-height: 95vh;
        overflow: auto;

        @include respond(tab-land) {
            display: inline-block;
        }

        @include respond(phone) {
            width: 95%;
        }
    }

    // display table + cell nastavi levou i pravou cast na stejnou vysku at maji jakykoli content

    &__left {
        width: 33.333333%;
        display: table-cell;

        @include respond(tab-land) {
            display: block;
            text-align: center;
            width: 85%;
            margin: 0 auto;
        }
    }

    &__right {
        width: 66.666667%;
        display: table-cell;
        vertical-align: middle; // srovna elementy v "table-cell" do vertikalne doprostred
        padding: 3rem 5rem;

        @include respond(tab-port) {
            padding: 1rem 2rem;
            text-align: center;
        }
    }

    &__img {
        display: block;
        width: 100%;

        &:not(:last-child) {
            @include respond(tab-land) {
                margin-right: 3.5rem;
            }

            @include respond(tab-port) {
                margin: 0 auto;
            }
        }

        @include respond(tab-land) {
            margin-top: 2rem;
            display: inline-block;
            width: auto;
            height: 18rem;
        }

        @include respond(phone) {
            display: block;
            padding-top: 1rem;
            margin: 1rem auto;
            width: 45%;
            height: auto;
        }
    }

    &__text {
        font-size: 1.4rem;
        margin-bottom: 4rem;
        -moz-column-count: 2;
        -moz-column-gap: 4rem;
        -moz-column-rule: 1px solid $color-grey-light-2;

        column-count: 2; // rozdeli text do dvou sloupcu
        column-gap: 4rem; // mezera mezi sloupci
        column-rule: 1px solid $color-grey-light-2; // hranice mezi sloupci

        // pomlcka na konci radku, kdyz presahuje. V HTML souboru musim nahore zadat: <html lang="en">  podle toho jaky je jazyk stranky
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto; // asi nefunguje na lorem

        @include respond(phone) {
            -moz-column-count: 1;
            column-count: 1;
            margin-bottom: 2rem;
        }

    }


    // OTEVRENI POPUP OKNA
    // kdyz kliknu na nejaky "anchor" <a> href odkaze na nejakou cast, tomu se rika target
    // tlacitko book now prida #popup k url a stane se z nej ratget -> spusti se nasledujici
    &:target {
        opacity: 1;
        visibility: visible;
    }

    &:target &__content {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }

    &__close {

        &:link,
        &:visited {
            color: $color-grey-dark;
            position: absolute;
            top: 2.5rem;
            right: 2.5rem;
            font-size: 3rem;
            text-decoration: none;
            display: inline-block;
            line-height: 1;

            &:hover {
                color: $color-primary;
            }
        }
    }
}